.heading1 {color: #ff6633;}
.heading3 {color: blue;}

<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: blue;
  color: white;
  text-align: center;
}
</style>

<div class="footer">
  <p>Footer</p>
</div>