
.active a:link {
    background-color: white;
}


nav {
    top: 0px;   
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav>ul li {
    position: relative; 
    text-align: center;
    font-weight: bold;
    color: red;
    float: left;
}
nav a {
    text-decoration: none;
    display: inline-block;
    border: 2px dotted red;
    padding: 10px 10px 10px 10px;
    width: 100px;
    margin: 2px;
}


nav a:link{
    background-color: white;
}
nav a:hover, nav a:focus {
    background-color: white;
}
nav a:active{
    background-color: red;
}

nav ul>li ul {
    position: absolute;
    top: 50%;
    display: none;
}
nav ul ul li {
    float:none;
}

nav>ul>li:hover>ul{
    display: block;
}
p::first-letter {
  font-family: fantasy
}

p::first-line { text-indent: inherit}

main {
display: grid; grid-template: repeat(2, 50px) / repeat(3, 1fr); grid-gap: 20px; }

main {
display: grid;
grid-template: repeat(2, 50px) / repeat(auto-fill, minmax(75px, 1fr)); grid-gap: 20px; 

@media screen and (min-width: 800px) {
  body {
    background: white;
    margin: 25px 6%;
  }
  
  figure {
    float: left;
    width: 50%;
    margin-right: 5%;
  }
}


@media screen and (min-width: 1200px) {
  body {
    background: white;
    margin: 25px 10%;
    max-width: 1200px;
  }
  
  figure {
    width: 30%;
    margin-right: 3%;
  }